<!-- Slider -->
{% for bien in Biens %}
<div id="demo-1" data-zs-src='["/image/{{bien.image}}","/image/{{bien.image}}","/image/{{bien.image}}"]' data-zs-overlay="dots">
    {% endfor %}
    <div class="demo-inner-content">
        <h1><span>SAFER</span></h1><br/>
        <p>Pour des territoire vivants </p>
    </div>
</div>
<!-- end slider -->