{% extends 'base.html.twig' %}

{% block title %}Oups  !!{% endblock %}

{% block content %}
   <div style="margin-left:10%;width: 50%; ">
       <h3 style="color: #aa1111">Page Introuvable</h3>
       <hr>
       <p>Désolé cette page est introuvable</p>
   </div><br><br><br>





{% endblock %}
